*.o
*.dat
run*
test*
*.xyz
*.m~
pimd
testspline/
*conflict*
logfile*
LJ/
noInt/
mathematica/
workstation_lab/
backup/
coulomb/
ideal/
three/
to_send/
presentation/
.csync*
.owncloud*
*.zip
ideal2D/
sign_cv/
*.pdf
coulomb*